// DEPENDENCIES
@import "../../scss/variables";

.LeaderboardItem {
  display: flex;
  background: #fff;
  border-bottom: 2px solid $color-lightPurple;

  img {
    width: 76px;
    height: 76px;
    display: block;
    padding-right: $unit-sm;
  }
}

.LeaderboardItem__body {
  display: flex;
  flex: 1;
  align-items: center;
}

.LeaderboardItem__title {
  flex: 1 1 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.LeaderboardItem__subtitle {
  font-size: $size-xs;
  color: $color-slate;
  font-weight: normal;
}

.LeaderboardItem__playcount {
  box-sizing: border-box;
  flex: 1 1 auto;
  text-align: right;
  padding: $unit-md;
  font-size: $size-xs;
  color: $color-slate;
}
