// DEPENDENCIES
@import "../../scss/variables";

.LeaderboardItem {
  display: flex;
  background: #fff;
  border-bottom: 2px solid $color-mutedPurple;

  img {
    width: 64px;
    display: block;
  }
}

.LeaderboardItem__body {
  display: flex;
  flex: 1;
  align-items: center;
}

.LeaderboardItem__title {
  flex: 1 1 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.LeaderboardItem__playcount {
  box-sizing: border-box;
  flex: 1 1 auto;
  text-align: right;
  padding: $unit-md;
}
