// DEPENDENCIES
@import "../../scss/variables";
@import "../../scss/mixins";

// COMPONENT STYLES
.TracksPlayedGraph {
  display: flex;
  align-items: flex-end;
  background: $color-deepPurple;
  width: 100%;
}

.TracksPlayedGraph__line {
  fill: transparent;
  stroke: $color-hotPink;
}

.TracksPlayedGraph__area {
  fill: rgba($color-hotPink, 0.1);
}
