// DEPENDENCIES
@import "../../scss/variables";
@import "../../scss/type";

.Overview {
  display: flex;
  flex-wrap: wrap;
}

.Overview__head {
  width: 100%;
  background: $color-deepPurple;
  padding: $unit-md;
  text-align: center;
}

.Overview__title {
  @extend %title;
  color: #fff;
}

.Overview__subtitle {
  @extend %subtitle;
  color: $color-lightPurple;
}
