// DEPENDENCIES
@import "scss/variables";
@import "scss/mixins";

// BASE STYLES
@import "scss/type";
@import "scss/helpers";

// APP STYLES
body {
  background: $color-slate;
  color: $color-slateDark;
  padding: 40px;
  margin: 0;
  height: 100%;
}

.Application {
  width: 375px;
  height: 667px;
  overflow-y: scroll;
  margin: 0 auto;
  background: #eee; // Temp
}

.Application__main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 545px;
  overflow: scroll;
}
