// DEPENDENCIES
@import "scss/variables";
@import "scss/mixins";

// BASE STYLES
@import "scss/type";
@import "scss/helpers";

// APP STYLES
body {
  background: $color-slate;
  color: $color-marl;
  padding: 0;
  margin: 0;
  height: 100%;
}

.Application__main {
  padding-left: 35%;
}

.Application__aside {
  position: fixed;
  top: 0;
  width: 35%;
  background: $color-slateDark;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
