// DEPENDENCIES
@import "scss/variables";
@import "scss/mixins";

// BASE STYLES
@import "scss/type";
@import "scss/helpers";

// APP STYLES
body {
  background: $color-slate;
  color: $color-slateDark;
  padding: 0;
  margin: 0;
  height: 100%;
}

.Application {
  width: 750px;
  max-height: 1334px;
  overflow-y: scroll;
  margin: 0 auto;
}

.Application__main {

}
