// MEDIA QUERY BREAKPOINTS
@mixin breakpoint($point) {
  @if $point == desk {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == lap {
    @media (max-width: 1250px) { @content; }
  }
  @else if $point == palm {
    @media (max-width: 650px)  { @content; }
  }
}

// LOADING SPINNER
@mixin spinner($size, $speed, $color) {
  & {
    height: $size;
    width: $size;
    margin: 0 auto;
    position:relative;
    -webkit-animation: rotation $speed infinite linear;
    -moz-animation: rotation $speed infinite linear;
    -o-animation: rotation $speed infinite linear;
    animation: rotation $speed infinite linear;
    border: 3px solid rgba($color, 0.334);
    border-top-color: $color;
    border-radius: 100%;
  }

  @-webkit-keyframes rotation {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(359deg); }
  }

  @-moz-keyframes rotation {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(359deg); }
  }

  @keyframes rotation {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
  }
}
