body {
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

h1 {
  font-size: $size-xl;
  line-height: 1;
}

h2 { font-size: $size-lg; }
h3 { font-size: $size-md; }
h4 { font-size: $size-sm; }
h5 { font-size: $size-xs; }
h6 { font-size: $size-xs; }
