// COLORS
$color-slate: #19191C;
$color-slateDark: #0E0E0F;
$color-hotPink: #E635AC;
$color-deepPurple: #463297;
$color-marl: #717184;

// SIZES/UNITS
$size-xs: 11px;
$size-sm: 12px;
$size-md: 16px;
$size-lg: 24px;
$size-xl: 32px;
$size-xxl: 48px;

$unit-sm: 10px;
$unit-md: 15px;
$unit-lg: 30px;
