// COLORS
$color-slate: #9697AD;
$color-slateDark: #232335;

$color-hotPink: #E635AC;

$color-deepPurple: #463297;
$color-lightPurple: #8673D4;
$color-mutedPurple: #F4F1FF;


// SIZES/UNITS
$size-xs: 11px;
$size-sm: 12px;
$size-md: 16px;
$size-lg: 24px;
$size-xl: 32px;
$size-xxl: 48px;

$unit-sm: 10px;
$unit-md: 15px;
$unit-lg: 30px;
$unit-xl: 35px;
