// COLORS
$color-slate: #84849D;
$color-slateDark: #232335;
$color-hotPink: #E635AC;
$color-deepPurple: #6956C4;
$color-lightPurple: #F4F1FF;
$color-mutedPurple: #9886E4;

// SIZES/UNITS
$size-xxs: 10px;
$size-xs: 12px;
$size-sm: 14px;
$size-md: 16px;
$size-lg: 24px;
$size-xl: 32px;
$size-xxl: 48px;
$size-xxxl: 64px;

$unit-sm: 10px;
$unit-md: 15px;
$unit-lg: 30px;
$unit-xl: 35px;
