// DEPENDENCIES
@import "../../scss/variables";
@import "../../scss/mixins";

// COMPONENT STYLES
.TotalTracks {
  text-align: center;
  background: #fff;
  padding-bottom: $unit-xl;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.TotalTracks__icon img {
  width: 179px;
}

.TotalTracks__content {

}

.TotalTracks__playcount {
  font-weight: bold;
  font-size: $size-xl;
  color: $color-deepPurple;
  margin-top: -50px;
}

.TotalTracks__label {
  font-size: $size-xs;
  color: $color-deepPurple;
}

.TotalTracks__error-msg {

}

.TotalTracks--error .TotalTracks__error-msg {

}

@include spinner($size-md, 1s, $color-deepPurple);
