// DEPENDENCIES
@import "../../scss/variables";
@import "../../scss/mixins";
@import "../../scss/modules/tiles";

// COMPONENT STYLES
.TotalAlbums {
  @extend %tile;
}

.TotalAlbums__content,
.TotalAlbums__icon {
  @extend %tile-blocks;
}

.TotalAlbums__content {
  @extend %tile-content;
}

.TotalAlbums__total {
  @extend %tile-value;
}

.TotalAlbums__label {
  @extend %tile-label;
}

.TotalAlbums__error-msg {
  @extend %tile-error-msg;
}

.TotalAlbums--error .TotalAlbums__error-msg {
  @extend %tile-error-msg-show;
}

@include spinner($size-md, 1s, $color-deepPurple);


.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}
